/* -----------------DEFAULT SETUP--------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* -----------------HEADER------------------- */
header {
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-around;
  height: 40px;
}
.header-p1 {
  color: #555;
}
.header-p1 i {
  font-size: 110%;
  border: #bbb solid 0.5px;
  border-radius: 3px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  line-height: 30px;
  /* padding: 6px 5px 3px 4px; */
}
.header-p2 {
  display: flex;
  justify-content: flex-start;
  color: #bbb;
  font-size: 12px;
}
.header-p2 p {
  margin-left: 10px;
  margin-top: 0px;
  line-height: 40px;
  padding-left: 10px;
  border-left: #bbb solid 0.5px;
}
/* -----------------SECTION-1--------------- */
.section-p1 {
  background-image: url(assets/images/working.jpg);
  height: 500px;
  background-size: cover;
  position: relative;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-weight: 750;
  font-size: 2.3rem;
  padding-top: 100px;
  padding-left: 60px;
  margin-top: 0;
}
.section-p1 p {
  color: white;
  font-weight: 300;
  line-height: 150%;
  padding-top: 20px;
  padding-left: 60px;
}
.btn1,
.btn2 {
  text-decoration: none;
  color: white;
  margin-left: 60px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 40px;
}
.btn1 {
  background-color: #32c5d2;
  padding: 15px;
  border-radius: 3px;
}
.btn2 {
  padding: 15px;
  border-radius: 3px;
  border: solid white 1px;
}
.btn3 {
  font-size: 150%;
  color: white;
  background-color: rgba(85, 85, 85, 0.8);
  padding: 10px 18px;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
/* -----------------SECTION-2--------------- */
.section-p2 {
  margin-top: 70px;
}
.introduction {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  font-size: 30px;
  color: #333;
}
.section-p2 p {
  margin-top: 70px;
  text-align: center;
  line-height: 200%;
  color: #555;
}
h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
}
h3::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #bbb;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.boxes {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.box {
  width: 18%;
  margin: 20px;
}
.box i {
  font-size: 500%;
  display: block;
  text-align: center;
}
.box p {
  color: #555;
  margin-top: 40px;
  font-size: 0.9rem;
}
.box [class="fas fa-cogs"] {
  color: #32c5d2;
}
.box [class="fas fa-heart"] {
  color: #2196f3;
}
.box [class="fas fa-sliders-h"] {
  color: #cb2027;
}

/* -----------------SECTION-3--------------- */
.section-p3 {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}
.image-bottom img {
  width: 100%;
  padding: 40px;
  padding-right: 0;
  display: block;
  margin-right: 0;
}
.image-bottom {
  flex: 1;
}
.core-features {
  flex: 2;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
}
h4 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}
h4 span {
  color: #32c5d2;
}
.feature {
  display: flex;
  justify-content: space-around;
}
.feature i {
  background-color: #32c5d2;
  padding: 20px;
  color: white;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 30px;
}
h5 {
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.feature p {
  color: #555;
}
.core-features a {
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 50px;
  display: inline-block;
}
.btn4 {
  font-size: 150%;
  color: white;
  background-color: #32c5d2;
  padding: 10px 17px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
